<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>TIW-verbalizzazioneEsami-js</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/dbverbalizzazione</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>annaira321</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <filter> 
    <filter-name>Checker</filter-name>
    <filter-class>filters.Checker</filter-class> 
 </filter>
 <filter> 
    <filter-name>TeacherChecker</filter-name>
    <filter-class>filters.TeacherChecker</filter-class> 
 </filter>
 <filter> 
    <filter-name>StudentChecker</filter-name>
    <filter-class>filters.StudentChecker</filter-class> 
 </filter>
 <filter-mapping> 
    <filter-name>Checker</filter-name> 
    <url-pattern>/GoToHomeTeacher</url-pattern> 
    <url-pattern>/GoToHomeStudent</url-pattern>
    <url-pattern>/GoToEnrolledStudents</url-pattern>  
    <url-pattern>/ExamResult</url-pattern>
    <url-pattern>/GoToModifyPage</url-pattern> 
    <url-pattern>/ModifyMark</url-pattern> 
    <url-pattern>/VerbalizeResults</url-pattern>
 </filter-mapping>
 <filter-mapping> 
    <filter-name>TeacherChecker</filter-name>
    <url-pattern>/GoToHomeTeacher</url-pattern> 
    <url-pattern>/GoToEnrolledStudents</url-pattern>
    <url-pattern>/GoToModifyPage</url-pattern> 
    <url-pattern>/ModifyMark</url-pattern> 
    <url-pattern>/VerbalizeResults</url-pattern>  
 </filter-mapping>
 <filter-mapping> 
    <filter-name>StudentChecker</filter-name>
    <url-pattern>/GoToHomeStudent</url-pattern> 
    <url-pattern>/ExamResult</url-pattern>
 </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>